
<% include partials/header %>


<div class="container">
	<h2>Beat: <%= beat.name %> by <%= beat.producer %></h2>	


	<div style="outline-style: solid">
		<p><%= beat.source %></p>
	</div>

	<form action="/main/<%= beat._id %>/new">
        <button class="btn btn-lg btn-primary" style="position: align-right;" href="/main/<%= beat._id %>/new">Upload your own rendition!</button>            
    </form>

    <% (beat.renditions).forEach(function(rendition) { %>
            <div class="form-inline" style="margin-top:5px; outline-style: solid">
              <div>
                <h6>Rendition by <%= rendition.artist %></h6>
                <h6>source: <%= rendition.url %></h6>
                <h6>rank: <%= rendition.rank %></h6>
              </div>
                                   
            </div>
        
    <% }); %>


</div>



